In [4]:
import numpy as np
import pandas as pd

In [5]:
dataset_path = "./datas/"

df_conf = pd.read_csv(dataset_path + "time_series_covid_19_confirmed.csv")
df_deaths = pd.read_csv(dataset_path + "time_series_covid_19_deaths.csv")
df_recovered = pd.read_csv(dataset_path + "time_series_covid_19_recovered.csv")

print(df_conf.shape)
print(df_deaths.shape)
print(df_recovered.shape)

(276, 498)
(276, 498)
(261, 498)

In [6]:
df_conf

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,4809,4941,5119,5275,5404,5931,6086,6356,6396,6908
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,304532,304968,305201,305201,305777,306334,306795,306795,307569,307838
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6613,6632,6649,6658,6662,6670,6688,6696,6723,6731
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,92754,92920,93106,93201,93279,93428,93627,93947,94430,94751
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,38635,38664,38679,38682,38696,38706,38819,38854,38918,38933

In [7]:
df_conf.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/20/21', '5/21/21', '5/22/21', '5/23/21', '5/24/21', '5/25/21',
       '5/26/21', '5/27/21', '5/28/21', '5/29/21'],
      dtype='object', length=498)

In [8]:
df_conf.isnull().sum

<bound method DataFrame.sum of      Province/State  Country/Region    Lat   Long  1/22/20  1/23/20  1/24/20  \
0              True           False  False  False    False    False    False
1              True           False  False  False    False    False    False
2              True           False  False  False    False    False    False
3              True           False  False  False    False    False    False
4              True           False  False  False    False    False    False
..              ...             ...    ...    ...      ...      ...      ...
271            True           False  False  False    False    False    False
272            True           False  False  False    False    False    False
273            True           False  False  False    False    False    False
274            True           False  False  False    False    False    False
275            True           False  False  False    False    False    False

     1/25/20  1/26/20  1/27/20  ...  5/20/21  5/21/21  5/22/21  5/23/21  \
0      False    False    False  ...    False    False    False    False
1      False    False    False  ...    False    False    False    False
2      False    False    False  ...    False    False    False    False
3      False    False    False  ...    False    False    False    False
4      False    False    False  ...    False    False    False    False
..       ...      ...      ...  ...      ...      ...      ...      ...
271    False    False    False  ...    False    False    False    False
272    False    False    False  ...    False    False    False    False
273    False    False    False  ...    False    False    False    False
274    False    False    False  ...    False    False    False    False
275    False    False    False  ...    False    False    False    False

     5/24/21  5/25/21  5/26/21  5/27/21  5/28/21  5/29/21
0      False    False    False    False    False    False
1      False    False    False    False    False    False
2      False    False    False    False    False    False
3      False    False    False    False    False    False
4      False    False    False    False    False    False
..       ...      ...      ...      ...      ...      ...
271    False    False    False    False    False    False
272    False    False    False    False    False    False
273    False    False    False    False    False    False
274    False    False    False    False    False    False
275    False    False    False    False    False    False

[276 rows x 498 columns]>

In [9]:
df_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2440,2441,2442,2444,2445,2447,2447,2447,2448,2449
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,3401,3405,3411,3418,3426,3433,3440,3448,3455,3460
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,704,709,715,725,731,735,742,745,749,757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,39,41,42,43,44,44,45,46,47,47
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,3448,3452,3459,3459,3470,3480,3483,3483,3489,3492
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1301,1302,1304,1307,1310,1311,1313,1315,1316,1319
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,1265,1266,1267,1268,1271,1271,1273,1275,1275,1276
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1585,1586,1586,1586,1586,1587,1589,1592,1592,1594

In [10]:
df_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,26483,26513,26775,26778,27087,27204,27467,27529,27577,27646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,2687,2689,2721,2721,2794,2794,2853,2853,2896,2896
257,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,295643,296901,297201,297201,298502,299024,299559,299559,300125,300524
258,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,3159,3179,3201,3245,3260,3273,3306,3339,3375,3399
259,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,90955,91019,91102,91156,91200,91221,91239,91321,91443,91594
260,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,36427,36435,36445,36453,36471,36517,36531,36541,36563,36578

In [11]:
df_conf = df_conf.sort_values(by=["Province/State", "Country/Region"])
df_conf = df_conf.reset_index(drop=True)

In [12]:
df_conf

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,Alberta,Canada,53.933300,-116.576500,0,0,0,0,0,0,...,222279,223011,223632,224195,224647,225034,225424,225937,226449,226855
1,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,109,109,109,109,109,109,109,109,109,109
2,Anhui,China,31.825700,117.226400,1,9,15,39,60,70,...,1001,1001,1002,1002,1004,1004,1004,1004,1004,1004
3,Aruba,Netherlands,12.521100,-69.968300,0,0,0,0,0,0,...,10892,10902,10915,10917,10922,10936,10951,10957,10969,10974
4,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,124,124,124,124,124,124,124,124,124,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,4809,4941,5119,5275,5404,5931,6086,6356,6396,6908
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,304532,304968,305201,305201,305777,306334,306795,306795,307569,307838
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6613,6632,6649,6658,6662,6670,6688,6696,6723,6731
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,92754,92920,93106,93201,93279,93428,93627,93947,94430,94751
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,38635,38664,38679,38682,38696,38706,38819,38854,38918,38933

In [13]:
df_deaths = df_deaths.sort_values(by=["Province/State", "Country/Region"])
df_deaths = df_deaths.reset_index(drop=True)

In [14]:
df_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,Alberta,Canada,53.933300,-116.576500,0,0,0,0,0,0,...,2162,2164,2170,2176,2183,2192,2198,2199,2206,2214
1,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Anhui,China,31.825700,117.226400,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3,Aruba,Netherlands,12.521100,-69.968300,0,0,0,0,0,0,...,106,106,107,107,107,107,107,107,107,107
4,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,39,41,42,43,44,44,45,46,47,47
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,3448,3452,3459,3459,3470,3480,3483,3483,3489,3492
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1301,1302,1304,1307,1310,1311,1313,1315,1316,1319
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,1265,1266,1267,1268,1271,1271,1273,1275,1275,1276
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1585,1586,1586,1586,1586,1587,1589,1592,1592,1594

In [15]:
df_recovered = df_recovered.sort_values(by=["Province/State", "Country/Region"])
df_recovered = df_recovered.reset_index(drop=True)

In [16]:
df_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,107,107,107,107,107,107,107,109,109,109
1,Anhui,China,31.825700,117.226400,0,0,0,0,0,0,...,989,989,989,989,989,989,990,992,994,994
2,Aruba,Netherlands,12.521100,-69.968300,0,0,0,0,0,0,...,10716,10728,10738,10743,10746,10758,10767,10780,10790,10803
3,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,121,121,121,121,121,121,121,121,121,121
4,Beijing,China,40.182400,116.414200,0,0,1,2,2,2,...,1046,1046,1046,1046,1046,1046,1046,1046,1046,1046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,2687,2689,2721,2721,2794,2794,2853,2853,2896,2896
257,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,295643,296901,297201,297201,298502,299024,299559,299559,300125,300524
258,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,3159,3179,3201,3245,3260,3273,3306,3339,3375,3399
259,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,90955,91019,91102,91156,91200,91221,91239,91321,91443,91594
260,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,36427,36435,36445,36453,36471,36517,36531,36541,36563,36578

In [17]:
print(df_conf[["Province/State", "Country/Region"]].equals(df_deaths[["Province/State", "Country/Region"]]))

True

In [18]:
print(df_conf[["Province/State", "Country/Region"]].equals(df_recovered[["Province/State", "Country/Region"]]))

False

In [19]:
df_conf_aggregated = df_conf.groupby('Province/State').sum().reset_index()
df_deaths_aggregated = df_deaths.groupby('Province/State').sum().reset_index()

In [20]:
df_combined = pd.merge(df_recovered, df_conf_aggregated, on=["Province/State", "Country/Region"], suffixes=("_recovered", "_confirmed"))
df_combined = pd.merge(df_combined, df_deaths_aggregated, on=["Province/State", "Country/Region"])

In [21]:
print(df_combined.equals(df_conf_aggregated))

False

In [22]:
dates_conf = df_conf.columns[4:]
dates_deaths = df_deaths.columns[4:]

In [23]:
print(dates_conf)
print(dates_deaths)

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '5/20/21', '5/21/21', '5/22/21', '5/23/21', '5/24/21', '5/25/21',
       '5/26/21', '5/27/21', '5/28/21', '5/29/21'],
      dtype='object', length=494)
Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '5/20/21', '5/21/21', '5/22/21', '5/23/21', '5/24/21', '5/25/21',
       '5/26/21', '5/27/21', '5/28/21', '5/29/21'],
      dtype='object', length=494)

In [24]:
if dates_conf.equals(dates_deaths):
    print("Oui")
else:
    print("OUUUFFF")

Oui

In [25]:
df_conf_melted = df_conf.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=dates_conf ,var_name='Date', value_name='Confirmed')

df_deaths_melted = df_deaths.melt(id_vars=["Province/State", "Country/Region", 'Lat', 'Long'], value_vars=dates_deaths, var_name='Date', value_name='Deaths')

In [26]:
df_conf_melted

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,Alberta,Canada,53.933300,-116.576500,1/22/20,0
1,Anguilla,United Kingdom,18.220600,-63.068600,1/22/20,0
2,Anhui,China,31.825700,117.226400,1/22/20,1
3,Aruba,Netherlands,12.521100,-69.968300,1/22/20,0
4,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0
...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,6908
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,307838
136341,NaN,Yemen,15.552727,48.516388,5/29/21,6731
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,94751
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,38933

In [27]:
df_deaths_melted

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,Alberta,Canada,53.933300,-116.576500,1/22/20,0
1,Anguilla,United Kingdom,18.220600,-63.068600,1/22/20,0
2,Anhui,China,31.825700,117.226400,1/22/20,0
3,Aruba,Netherlands,12.521100,-69.968300,1/22/20,0
4,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0
...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,47
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,3492
136341,NaN,Yemen,15.552727,48.516388,5/29/21,1319
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,1276
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,1594

In [28]:
print(df_deaths_melted.shape)
print(df_conf_melted.shape)

(136344, 6)
(136344, 6)

In [29]:
df_combined = pd.concat([df_conf_melted,
                        df_deaths_melted["Deaths"]], axis=1, sort=False)
df_combined

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths
0,Alberta,Canada,53.933300,-116.576500,1/22/20,0,0
1,Anguilla,United Kingdom,18.220600,-63.068600,1/22/20,0,0
2,Anhui,China,31.825700,117.226400,1/22/20,1,0
3,Aruba,Netherlands,12.521100,-69.968300,1/22/20,0,0
4,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0,0
...,...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,6908,47
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,307838,3492
136341,NaN,Yemen,15.552727,48.516388,5/29/21,6731,1319
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,94751,1276
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,38933,1594

In [30]:
df_combined.fillna(0, inplace=True)
df_combined

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths
0,Alberta,Canada,53.933300,-116.576500,1/22/20,0,0
1,Anguilla,United Kingdom,18.220600,-63.068600,1/22/20,0,0
2,Anhui,China,31.825700,117.226400,1/22/20,1,0
3,Aruba,Netherlands,12.521100,-69.968300,1/22/20,0,0
4,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0,0
...,...,...,...,...,...,...,...
136339,0,Vietnam,14.058324,108.277199,5/29/21,6908,47
136340,0,West Bank and Gaza,31.952200,35.233200,5/29/21,307838,3492
136341,0,Yemen,15.552727,48.516388,5/29/21,6731,1319
136342,0,Zambia,-13.133897,27.849332,5/29/21,94751,1276
136343,0,Zimbabwe,-19.015438,29.154857,5/29/21,38933,1594

In [31]:
df_combined.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
dtype: object

In [33]:
df_combined["Percentage"] = df_combined["Deaths"]/df_combined["Confirmed"]
df_combined.fillna(0, inplace=True)
df_combined

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Percentage
0,Alberta,Canada,53.933300,-116.576500,1/22/20,0,0,0.000000
1,Anguilla,United Kingdom,18.220600,-63.068600,1/22/20,0,0,0.000000
2,Anhui,China,31.825700,117.226400,1/22/20,1,0,0.000000
3,Aruba,Netherlands,12.521100,-69.968300,1/22/20,0,0,0.000000
4,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0,0,0.000000
...,...,...,...,...,...,...,...,...
136339,0,Vietnam,14.058324,108.277199,5/29/21,6908,47,0.006804
136340,0,West Bank and Gaza,31.952200,35.233200,5/29/21,307838,3492,0.011344
136341,0,Yemen,15.552727,48.516388,5/29/21,6731,1319,0.195959
136342,0,Zambia,-13.133897,27.849332,5/29/21,94751,1276,0.013467
136343,0,Zimbabwe,-19.015438,29.154857,5/29/21,38933,1594,0.040942

In [41]:
import datetime

def format_time(datetime_str):
    a = datetime_str.strftime("%m/%d/%y")
    d = datetime.datetime.strptime(a, '%m/%d/%y')
    return d.date()

df_combined['Date'] = df_combined['Date'].apply(format_time)
df_combined

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Percentage
0,Alberta,Canada,53.933300,-116.576500,2020-01-22,0,0,0.000000
1,Anguilla,United Kingdom,18.220600,-63.068600,2020-01-22,0,0,0.000000
2,Anhui,China,31.825700,117.226400,2020-01-22,1,0,0.000000
3,Aruba,Netherlands,12.521100,-69.968300,2020-01-22,0,0,0.000000
4,Australian Capital Territory,Australia,-35.473500,149.012400,2020-01-22,0,0,0.000000
...,...,...,...,...,...,...,...,...
136339,0,Vietnam,14.058324,108.277199,2021-05-29,6908,47,0.006804
136340,0,West Bank and Gaza,31.952200,35.233200,2021-05-29,307838,3492,0.011344
136341,0,Yemen,15.552727,48.516388,2021-05-29,6731,1319,0.195959
136342,0,Zambia,-13.133897,27.849332,2021-05-29,94751,1276,0.013467
136343,0,Zimbabwe,-19.015438,29.154857,2021-05-29,38933,1594,0.040942

In [42]:
df_combined.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Percentage        float64
dtype: object